.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.h3 {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  margin-bottom: 20px;
}

.title,
.description {
  text-align: center;
}

.button {
  width: 50%;
  background-color: #5a53cc;
  border: #5a53cc;
  border-style: inherit;
  border-radius: 10px;
  color: black;
  font-size: medium;
  padding: 0.5px;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.add {
  width: 70%;
  height: 30px;
  background-color: #fc7554;
  border: #fc7554;
  border-style: inherit;
  border-radius: 10px;
  color: black;
  font-size: large;
  padding: 4px;
}

.input {
  width: 70%;
  height: auto;
  margin-bottom: 12px;
  border-radius: 10px;
  padding: 8px 4px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: large;
}

.card {
  margin: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: small;
  color: inherit;
  text-decoration: none;
  background-color: #242c34;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 8%;
  width: 70%;
}

.form {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #070ae6;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 100%;
  width: 90%;
}

.card:hover,
.card:focus,
.card:active {
  color: #5a53cc;
  border-color: #5a53cc;
}

@media (max-width: 1000px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 750px) {
  .input {
    height: 50px;
    max-width: 800px;
    font-size: x-large;
  }
  .add {
    height: 50px;
    max-width: 800px;
    font-size: x-large;
  }
  .card {
    max-width: 800px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
